@import url(../fonts/gotham_book/font.css);
@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');
@import url(../fonts/Avesome/font.css);
* {
    box-sizing: border-box;
}

body {
    font-family: "GothamBook", sans-serif;
}

.ba-menu {
    display: flex;
    align-items: center;
}

.ba-menu__link {
    color: inherit;
    text-decoration: none;
}

.container {
    width: 100%;
    min-width: 1170px;
}

.ba-header {
    position: absolute;
    top: 50px;
    left: 0;
    right: 0;
    margin: 0 auto;
    align-items: center;
    display: flex;
    justify-content: space-between;
    z-index: 10;
    .ba-header-wrapper {
        align-items: center;
        display: flex;
        justify-content: space-between;
        .ba-menu {
            font-size: 14px;
            color: rgb(255, 255, 255);
            text-transform: uppercase;
            list-style-type: none;
            li {
                width: 170px;
                padding-left: 23px;
                background-image: url(../src/round.svg);
                background-position: left;
                background-repeat: no-repeat;
            }
            li:hover,
            li.active {
                background-image: url(../src/round-full.svg);
                background-position: left;
                background-repeat: no-repeat;
            }
        }
        .ba-social {
            a {
                padding-left: 20px;
            }
            a:first-child {
                padding-left: 10px;
            }
        }
    }
}

.ba-social {
    display: flex;
    align-items: center;
}

.ba-slider {
    .ba-slide {
        background-color: #6f78f9;
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        text-align: center;
        min-height: 100vh;
        h2,
        h1 {
            font-size: 80px;
            color: rgb(255, 255, 255);
            font-weight: bold;
            text-transform: uppercase;
            text-align: center;
            padding: 350px 0 0 0;
            margin: 0;
        }
        p {
            font-size: 18px;
            color: rgb(255, 255, 255);
            text-transform: uppercase;
            text-align: center;
            padding: 30px 0 0 0;
            margin: 0;
        }
    }
    .ba-slider-1 {
        background-image: url(../src/slider-1.jpg);
    }
    .ba-slider-2 {
        background-image: url(../src/slider-2.jpg);
    }
    .ba-slider-3 {
        background-image: url(../src/slider-1.jpg);
    }
    .ba-slider-4 {
        background-image: url(../src/slider-2.jpg);
    }
}

.ba-header-scroll {
    position: relative;
    top: -120px;
    text-align: center;
}

h2,
h3 {
    font-size: 44px;
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
    padding: 0;
    margin: 0;
}

.ba-what,
.ba-news,
.ba-gallery,
.ba-footer {
    h2 {
        color: rgb(44, 64, 88);
        position: relative;
        padding-top: 40px;
        margin-top: 40px;
    }
    h2:after {
        content: '';
        position: absolute;
        height: 1px;
        width: 100px;
        background-color: rgb(44, 64, 88);
        top: 0px;
        right: calc(50% - 50px);
    }
}

.ba-what-article1__fon {
    margin-top: 100px;
    width: 35%;
    height: 470px;
    background-color: #55b7ff;
    position: absolute;
    left: 0px;
    z-index: 5;
}

.ba-what-aticle1__img1 {
    margin-top: 100px;
    position: relative;
    z-index: 10;
    top: 70px;
}

.ba-wtat-aticle1__text {
    width: 470px;
    display: inline-block;
    padding-left: 70px;
    h3 {
        text-align: left;
        padding: 10px 0 30px;
        font-size: 37px;
    }
    span {
        font-size: 20px;
        color: rgb(44, 64, 88);
        text-transform: uppercase;
    }
    p {
        font-size: 18px;
        font-family: 'Open Sans', sans-serif;
        color: rgb(75, 85, 98);
        text-align: left;
    }
    a {
        display: inline-block;
        font-size: 14px;
        color: rgb(44, 64, 88);
        text-transform: uppercase;
        text-align: center;
        border: 1px solid rgb(44, 64, 88);
        padding: 15px 35px;
        margin: 30px 0 50px 0;
        text-decoration: none;
    }
    .ba-what-aticle1__adress {
        font-size: 18px;
        font-style: italic;
        font-family: "fa-regular-400", sans-serif;
        color: rgb(44, 64, 88);
    }
}

//2 fon
.ba-what-article2__fon {
    margin-top: 180px;
    width: 35%;
    height: 470px;
    background-color: #7e5aff;
    position: absolute;
    right: 0px;
    z-index: 5;
}

.ba-what-aticle2__img2 {
    margin-top: 170px;
    position: relative;
    z-index: 10;
    top: 70px;
}

.ba-wtat-aticle2__text {
    width: 470px;
    display: inline-block;
    padding-right: 70px;
    h3 {
        text-align: left;
        padding: 10px 0 30px;
        font-size: 37px;
    }
    span {
        font-size: 20px;
        color: rgb(44, 64, 88);
        text-transform: uppercase;
    }
    p {
        font-size: 18px;
        font-family: 'Open Sans', sans-serif;
        color: rgb(75, 85, 98);
        text-align: left;
    }
    a {
        display: inline-block;
        font-size: 14px;
        color: rgb(44, 64, 88);
        text-transform: uppercase;
        text-align: center;
        border: 1px solid rgb(44, 64, 88);
        padding: 15px 35px;
        margin: 30px 0 50px 0;
        text-decoration: none;
    }
    .ba-what-aticle2__adress {
        font-size: 18px;
        font-style: italic;
        font-family: "fa-regular-400", sans-serif;
        color: rgb(44, 64, 88);
    }
}

.ba-what-aticle {
    width: 12px;
    height: 16px;
}

.ba-news {
    background-image: url(../src/bg-news.jpg);
    background-color: #2ab8f0;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    text-align: center;
    margin-top: 170px;
    padding-top: 101px;
    padding-bottom: 150px;
    .ba-slider-news {
        line-height: 0;
    }
    h2 {
        color: #fff;
        padding-bottom: 90px;
    }
    h2:after {
        background-color: #fff;
    }
    .ba-new-statti {
        background-color: #fff;
        width: 370px;
        padding: 20px 15px 10px 15px;
        margin: 0 0 30px 0;
        h3 {
            line-height: 34px;
            font-size: 22px;
            color: rgb(44, 64, 88);
            font-weight: bold;
            text-transform: uppercase;
            text-align: left;
        }
        p {
            line-height: 30px;
            font-size: 17px;
            font-family: 'Open Sans', sans-serif;
            color: rgb(75, 85, 98);
            text-align: left;
            margin: 0;
        }
        .ba-new-opis {
            display: flex;
            justify-content: flex-start;
            align-items: flex-start;
            padding-top: 35px;
            img {
                width: 60px;
                height: 60px;
                display: inline-block;
                margin: 0 20px 20px 0;
            }
            p {
                line-height: 18px;
                font-size: 18px;
                font-family: "Gotham";
                color: rgb(44, 64, 88);
                text-transform: uppercase;
                text-align: left;
                display: inline-block;
                padding: 7px 0 8px 0;
                margin: 0;
            }
            span {
                line-height: 14px;
                font-size: 14px;
                font-family: "Gotham";
                color: rgb(85, 183, 255);
                text-align: left;
                display: block;
            }
        }
    }
}

.ba-gallery {
    h2 {
        margin-top: 130px;
        padding-bottom: 90px;
    }
    .ba-gallery-wrapper {
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
        .ba-gallery-block {
            display: flex;
            flex-direction: column;
            flex-wrap: wrap;
            align-content: flex-start;
            img:first-child {
                padding-bottom: 10px;
            }
            img {
                padding-left: 10px;
            }
        }
    }
    p {
        text-align: center;
        line-height: 50px;
        vertical-align: middle;
        text-align: center;
    }
    .ba-gallery__btn {
        display: inline-block;
        font-size: 14px;
        color: rgb(44, 64, 88);
        text-transform: uppercase;
        border: 1px solid rgb(44, 64, 88);
        // padding: 15px 35px;
        margin: 50px 0 120px 0;
        width: 190px;
        height: 50px;
        text-decoration: none;
    }
}

#map {
    width: 100%;
    height: 700px;
}

.ba-footer {
    background-image: url(../src/footer.jpg);
    background-color: #2ab8f0;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding-top: 200px;
    .ba-footer-wrapper {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    .ba-social {
        a {
            padding-left: 20px;
        }
        a:first-child {
            padding-left: 0px;
        }
    }
    span {
        display: inline-block;
        font-size: 14px;
        color: rgb(255, 255, 255);
        margin-top: 40px;
        margin-bottom: 200px;
        padding-right: 20px;
        padding-left: 0px;
        border-right: 1px solid #fff;
    }
    .ba-forma {
        position: absolute;
        top: -500px;
        background-color: #fff;
        padding: 29px 55px 25px 55px;
        margin-bottom: 55px;
        width: 100%;
        h2 {
            padding-top: 20px;
        }
    }
    .ba-form-wrapper {
        display: flex;
        justify-content: space-between;
    }
    .ba-forma__contact {
        width: 50%;
        padding: 10px 0;
        p {
            font-size: 18px;
            font-family: "fa-regular-400", sans-serif;
            color: #2c4058;
            text-align: left;
            padding: 37px 0 0 0;
            margin: 0;
        }
        i {
            color: #7e5aff;
            padding-right: 10px;
        }
    }
    .ba-forma__input {
        width: 50%;
        padding: 10px 0;
        #ba-footer-forma {
            padding: 40px 0 10px 0;
            input {
                font-size: 18px;
                font-family: "fa-regular-400", sans-serif;
                color: #2c4058;
                width: 100%;
                border-top: none;
                border-left: none;
                border-right: none;
                border-bottom: 1px solid #d5d9de;
                padding: 0 0 15px 0;
                margin-bottom: 40px;
            }
            input:active,
            input:hover,
            input:focus {
                outline-color: #fff;
                outline: 0;
                outline-offset: 0;
                border-bottom: 1px solid #2c4058;
            }
            input:last-child {
                padding: 10px 25px;
                width: auto;
                float: right;
                background-color: transparent;
                border: 1px solid #2c4058;
            }
        }
    }
}

.ba-footer-position {
    position: relative;
    padding-left: 0;
    padding-right: 0;
    span:last-child {
        border-right: none;
        padding-left: 20px;
    }
}